/* Root and Globals -------------------------------- */
:root {
  --myBlue: rgb(6, 57, 108);
  --myWhite: #f7f5ee;
}

* {
  font-family: 'Lato', sans-serif;
  cursor: default;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: 'Electrolize', sans-serif;
}
.txt-blue {
  color: var(--myBlue);
}
.txt-white {
  color: var(--myWhite);
}
/* END Root and Globals -------------------------------- */

/* HEADER */
.bg-header {
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.7),
      rgba(6, 57, 108, 0.7)
    ),
    url(./media/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVBAR */
.bg-navbar {
  background-color: var(--myBlue);
  height: 8vh;
}

.logo {
  margin-left: 150px;
  padding: 5px;
  height: 5vh;
  margin-right: 30px;
}

.line::before {
  content: '|';
  padding-right: 25px;
  color: var(--myWhite);
}

.linkNav:hover {
  color: aqua;
}

/* MAIN */
.custom-quotes {
  position: relative;
}
.custom-quotes::before {
  content: '“';
  position: absolute;
  color: var(--myBlue);
  font-size: 200px;
  top: -110px;
  left: -60px;
}

.text {
  width: 80%;
}

.bold {
  font-weight: 900;
}
.f-size {
  font-size: 16px;
}

/* PowerLorem -------------------------------- */
.bg-powerLorem {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/power-plant-4712830_1280.jpg);
  height: 69vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.vh-powerLorem {
  height: 60vh;
}
/* END PowerLorem -------------------------------- */

/* Lorem blue/white ------------------------------ */
.card-blue {
  margin-top: -150px;
  min-height: 68vh;
  background-color: var(--myBlue);
  border: 3px solid var(--myWhite);
}

.img-panel {
  width: 28vw;
}
.w-custom {
  width: 32vw;
}

.card-white {
  margin-top: -47px;
  margin-left: -100px;
  background-color: var(--myWhite);
  height: 70vh;
}
/* END Lorem blue/white ------------------------------ */

/* DESCRIPTION */
.btn-custom {
  padding: 7px 50px;
  background-color: var(--myBlue);
  color: var(--myWhite);
  border-color: transparent;
  transition: 0.5s;
}
.btn-custom:hover {
  color: var(--myBlue);
  background-color: var(--myWhite);
  border: 1px solid var(--myBlue);
  transform: scale(1.2);
}

/* AMERICAN NO CSS */

/* 4 cards */
.w-link {
  width: 100px;
}
.card-sacramento {
  background-image: url(./media/Sacramento.jpeg);
  height: 22vh;
  width: 40%;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.card-carson {
  background-image: url(./media/CarsonCity.jpg);
  height: 22vh;
  width: 40%;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.card-albany {
  background-image: url(./media/Albany.jpg);
  height: 22vh;
  width: 40%;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}
.card-dallas {
  background-image: url(./media/Dallas.jpeg);
  height: 22vh;
  width: 40%;
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.shadow-custom {
  position: absolute;
  width: 30vw;
  height: 22vh;
  background: linear-gradient(
    90deg,
    rgba(6, 57, 108, 0.5) 0%,
    rgba(6, 57, 108, 0.1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  top: -20px;
  left: -30px;
}

.shadow-text {
  z-index: 50;
}

.margin-100-top {
  margin-top: 100px;
}

.vh-custom {
  height: 70vh;
}

/* Some Stuff ------------------------- */
.stuff {
  background-color: var(--myBlue);
  height: 30vh;
}
.stuff-card-1 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/sun.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}

.stuff-card-2 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/wind.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}
.stuff-card-3 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/wave.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}

.stuff-card-4 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/gas.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}

.stuff-card-5 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/oil.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}

.stuff-card-6 {
  background-image: linear-gradient(
      0deg,
      rgba(6, 57, 108, 0.45),
      rgba(6, 57, 108, 0.45)
    ),
    url(./media/nuclear.png);
  height: 20vh;
  background-size: cover;
  width: 20vw;
}

.m-negative {
  margin-top: -50px;
}
/* END Some Stuff ------------------------- */

/* downloads */

.cardDownload {
  width: 20vw;
  height: 20vh;
}

/* description 2 w/progressBar */

.color-Bar {
  background-color: var(--myBlue);
}

.bg-white {
  background-color: var(--myWhite);
}

.progressLorem {
  width: 25%;
}
.progressLibero {
  width: 55%;
}
.progressMollitia {
  width: 70%;
}
.progressDeleniti {
  width: 90%;
}
.progressOmnis {
  width: 80%;
}

/* OTHER STUFF */
.other-stuff {
  background-color: var(--myBlue);
  height: 40vh;
  width: 50vh;
  margin-bottom: -285px;
  margin-top: 60px;
}

ul {
  list-style-type: none;
}
li {
  position: relative;
}
li::before {
  content: '>';
  position: absolute;
  color: var(--myWhite);
  left: -30px;
  top: -10px;
  font-size: 30px;
}

/* footer */
.bg-footer {
  background-color: black;
  height: 47vh;
}
.img-footer {
  width: 70px;
}
